.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-hidden,
.password-visible {
  position: relative;
  width: 32px;
  height: 32px;
  top: -42px;
  right: -380px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.password-hidden {
  background-image: url("../../../../assets/pass_hidden.png");
}

.password-visible {
  background-image: url("../../../../assets/pass_visible.png");
}
