.wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper p {
  margin: 0;
}

.wrapper img {
  height: 4em;
  max-height: 4em;
  max-width: 4em;
}
