<div class="wrapper">
  <img class="logo" src="../../../assets/PAD-logo.png" />
  <div class="center">
    <div class="buttons">
      <button mat-button>Tasks</button>
      <button mat-button>Blog</button>
    </div>
    <div class="search">
      <label>Search</label>
      <div class="bar">
        <input type="search" />
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="right">
    <button mat-button [matMenuTriggerFor]="menu">{{ userName }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
  </div>
</div>
