.wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  height: 4rem;
  background-color: yellow;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.center .buttons {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.center .buttons button {
  margin: auto;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #515151;
  padding: 0 1em;
}
.center .buttons button:hover {
  filter: brightness(80%);
}

.center .search {
  font-size: 1.5rem;
  margin: auto;
  display: flex;
  gap: 20px;
}

.center .search label {
  color: #515151;
  font-family: Roboto;
  margin: auto;
  font-weight: 500;
}

.center .search input {
  padding-left: 20px;
  height: 100%;
  outline: none;
  font-size: 1.2rem;
}

.center .search .bar {
  display: flex;
}

.right {
  padding-right: 5%;
  display: flex;
  width: 15%;
}

.right button {
  font-size: 1.5rem;
  margin: auto;
  color: white;
  background-color: #515151;
  padding: 0 1em;
}

.right button:hover {
  filter: brightness(80%);
}

.right mat-menu button {
  width: 200px;
}

.logo {
  padding-left: 5%;
}
